In [1]:
import pandas as pd
import numpy as np
import matplotlib as mpl
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [2]:
#Loading dataset
data = pd.read_csv('covid_data.csv')
#Identify Columns
data.head()

,id,sex,patient_type,entry_date,date_symptoms,date_died,intubed,pneumonia,age,pregnancy,...,inmsupr,hypertension,other_disease,cardiovascular,obesity,renal_chronic,tobacco,contact_other_covid,covid_res,icu
0,16169f,2,1,4/5/20,2/5/20,NaN,NaN,2.0,27,NaN,...,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,1,NaN
1,1009bf,2,1,19-03-2020,17-03-2020,NaN,NaN,2.0,24,NaN,...,2.0,2.0,2.0,2.0,2.0,2.0,2.0,NaN,1,NaN
2,167386,1,2,6/4/20,1/4/20,NaN,2.0,2.0,54,2.0,...,2.0,2.0,2.0,2.0,1.0,2.0,2.0,NaN,1,2.0
3,0b5948,2,2,17-04-2020,10/4/20,NaN,2.0,1.0,30,NaN,...,2.0,2.0,2.0,2.0,2.0,2.0,2.0,NaN,1,2.0
4,0d01b5,1,2,13-04-2020,13-04-2020,22-04-2020,2.0,2.0,60,2.0,...,2.0,1.0,2.0,1.0,2.0,2.0,2.0,NaN,1,2.0

## **Mô tả bộ dữ liệu:**
1. id: Mã số nhận dạng của bệnh nhân.
2. sex: Xác định giới tính của bệnh nhân, 1 là nữ và 2 là nam.
3. patient_typeại: Loại bệnh nhân, 1 là không nhập viện và 2 là nhập viện
4. entry_date: Ngày bệnh nhân đến bệnh viện.
5. date_symptoms: Ngày bệnh nhân bắt đầu xuất hiện các triệu chứng
6. date_died: Ngày bệnh nhân qua đời
7. intubed: Đặt nội khí quản là một thủ tục được sử dụng khi bạn không thể tự thở được. Bác sĩ đặt một ống xuống cổ họng và vào khí quản của bạn để giúp không khí vào và ra khỏi phổi dễ dàng hơn. Một cỗ máy gọi là máy thở bơm lượng oxy bổ sung vào không khí. Sau đó, nó giúp bạn thở ra không khí chứa đầy carbon dioxide (CO2). “1” biểu thị bệnh nhân đã sử dụng máy thở và “2” biểu thị bệnh nhân không sử dụng.
8. pneumonia - viêm phổi: Cho biết bệnh nhân đã bị viêm túi khí hay chưa. “1” là có, “2” là không
9.  age: Tuổi của bệnh nhân
10. pregnancy - mang thai: Cho biết bệnh nhân có thai hay không, “1” là có, “2” là không
11. diabetes - tiểu đường: Cho biết bệnh nhân có bị tiểu đường hay không, “1” là có, “2” là không
12. copd: Cho biết bệnh nhân có mắc bệnh phổi tắc nghẽn mãn tính (COPD) hay không, “1” là có, “2” là không,
13. asthma - hen suyễn: Cho biết bệnh nhân có bị hen suyễn hay không, “1” là có, “2” là không
14. inmsupr: Cho biết bệnh nhân có bị ức chế miễn dịch hay không, “1” là có, “2” là không
15. hypertension - tăng huyết áp: Cho biết bệnh nhân có bị tăng huyết áp hay không, “1” là có, “2” là không
16. other_disease: Cho biết bệnh nhân có mắc bệnh khác hay không, “1” là có, “2” là không.
17. cardiovascular - tim mạch: Cho biết liệu bệnh nhân có mắc bệnh tim hoặc mạch máu hay không, “1” cho có, “2” cho không
18. obesity - béo phì: Cho biết bệnh nhân có béo phì hay không, “1” là có, “2” là không
19. renal_chronic - thận mãn tính: Cho biết bệnh nhân có bệnh thận mãn tính hay không, “1” là có, “2” là không
20. tobacco - thuốc lá: Cho biết liệu bệnh nhân có phải là người sử dụng thuốc lá hay không, “1” là có, “2” là không.
21. contact_other_covid: Cho biết liệu bệnh nhân có tiếp xúc với bệnh nhân nhiễm Covid19 khác hay không.
22. icu: Cho biết liệu bệnh nhân có được đưa vào Đơn vị Chăm sóc Đặc biệt (ICU) hay không, “1” cho có, “2” cho không
23. Covid_res: 1 cho biết người đó là Covid +ve, 2 cho biết người đó là Covide -ve, 3 cho biết kết quả đang chờ xử lý

In [ ]:
data.describe()

,sex,patient_type,intubed,pneumonia,age,pregnancy,diabetes,copd,asthma,inmsupr,hypertension,other_disease,cardiovascular,obesity,renal_chronic,tobacco,contact_other_covid,covid_res,icu
count,566602.000000,566602.000000,121789.000000,566591.000000,566602.000000,277903.000000,564621.000000,564853.000000,564850.000000,564622.000000,564778.000000,564004.000000,564780.000000,564821.000000,564810.000000,564695.000000,391571.000000,566602.000000,121788.000000
mean,1.506726,1.215165,1.918178,1.844376,42.622483,1.985380,1.874551,1.983837,1.968087,1.984099,1.836205,1.969709,1.977381,1.836635,1.980082,1.914968,1.433393,1.728651,1.916970
std,0.499955,0.410937,0.274094,0.362499,16.659973,0.120027,0.331227,0.126104,0.175768,0.125092,0.370090,0.171386,0.148687,0.369699,0.139719,0.278929,0.495544,0.658710,0.275928
min,1.000000,1.000000,1.000000,1.000000,0.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000
25%,1.000000,1.000000,2.000000,2.000000,31.000000,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,1.000000,1.000000,2.000000
50%,2.000000,1.000000,2.000000,2.000000,41.000000,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,1.000000,2.000000,2.000000
75%,2.000000,1.000000,2.000000,2.000000,53.000000,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000
max,2.000000,2.000000,2.000000,2.000000,120.000000,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,3.000000,2.000000

In [ ]:
data.shape

(566602, 23)

In [ ]:
data.dtypes

id                      object
sex                      int64
patient_type             int64
entry_date              object
date_symptoms           object
date_died               object
intubed                float64
pneumonia              float64
age                      int64
pregnancy              float64
diabetes               float64
copd                   float64
asthma                 float64
inmsupr                float64
hypertension           float64
other_disease          float64
cardiovascular         float64
obesity                float64
renal_chronic          float64
tobacco                float64
contact_other_covid    float64
covid_res                int64
icu                    float64
dtype: object

# **Tiền xử lý dữ liệu**

## **Dropping Irrelevant Fields**

In [3]:
data = data.drop(['id', 'date_symptoms'], axis=1)
data.shape

(566602, 21)

## **Null Values**

In [4]:
#Kiểm tra null value
data.isnull().sum()

sex                         0
patient_type                0
entry_date                  0
date_died              530426
intubed                444813
pneumonia                  11
age                         0
pregnancy              288699
diabetes                 1981
copd                     1749
asthma                   1752
inmsupr                  1980
hypertension             1824
other_disease            2598
cardiovascular           1822
obesity                  1781
renal_chronic            1792
tobacco                  1907
contact_other_covid    175031
covid_res                   0
icu                    444814
dtype: int64

In [5]:
#Xử lý null value
for column in data.columns:
  if column == 'date_died':
    continue
  else:
    data[column].fillna(1.5, inplace=True)
data.head()

,sex,patient_type,entry_date,date_died,intubed,pneumonia,age,pregnancy,diabetes,copd,...,inmsupr,hypertension,other_disease,cardiovascular,obesity,renal_chronic,tobacco,contact_other_covid,covid_res,icu
0,2,1,4/5/20,NaN,1.5,2.0,27,1.5,2.0,2.0,...,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,1,1.5
1,2,1,19-03-2020,NaN,1.5,2.0,24,1.5,2.0,2.0,...,2.0,2.0,2.0,2.0,2.0,2.0,2.0,1.5,1,1.5
2,1,2,6/4/20,NaN,2.0,2.0,54,2.0,2.0,2.0,...,2.0,2.0,2.0,2.0,1.0,2.0,2.0,1.5,1,2.0
3,2,2,17-04-2020,NaN,2.0,1.0,30,1.5,2.0,2.0,...,2.0,2.0,2.0,2.0,2.0,2.0,2.0,1.5,1,2.0
4,1,2,13-04-2020,22-04-2020,2.0,2.0,60,2.0,1.0,2.0,...,2.0,1.0,2.0,1.0,2.0,2.0,2.0,1.5,1,2.0

## **Duplicated Values**

In [6]:
data.duplicated().sum()

240513

In [7]:
data = data.drop_duplicates()
data.shape

(326089, 21)

## **Chuẩn hoá dữ liệu**

### **Cột entry_date và date_died**

In [8]:
data['entry_date'] = pd.to_datetime(data['entry_date'])
data['date_died'] = pd.to_datetime(data['date_died'], errors='coerce')

data.head()

C:\Users\HP\AppData\Local\Temp\ipykernel_14800\2841513652.py:1: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  data['entry_date'] = pd.to_datetime(data['entry_date'])
C:\Users\HP\AppData\Local\Temp\ipykernel_14800\2841513652.py:2: UserWarning: Parsing dates in %d-%m-%Y format when dayfirst=False (the default) was specified. Pass `dayfirst=True` or specify a format to silence this warning.
  data['date_died'] = pd.to_datetime(data['date_died'], errors='coerce')

,sex,patient_type,entry_date,date_died,intubed,pneumonia,age,pregnancy,diabetes,copd,...,inmsupr,hypertension,other_disease,cardiovascular,obesity,renal_chronic,tobacco,contact_other_covid,covid_res,icu
0,2,1,2020-04-05,NaT,1.5,2.0,27,1.5,2.0,2.0,...,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,1,1.5
1,2,1,2020-03-19,NaT,1.5,2.0,24,1.5,2.0,2.0,...,2.0,2.0,2.0,2.0,2.0,2.0,2.0,1.5,1,1.5
2,1,2,2020-06-04,NaT,2.0,2.0,54,2.0,2.0,2.0,...,2.0,2.0,2.0,2.0,1.0,2.0,2.0,1.5,1,2.0
3,2,2,2020-04-17,NaT,2.0,1.0,30,1.5,2.0,2.0,...,2.0,2.0,2.0,2.0,2.0,2.0,2.0,1.5,1,2.0
4,1,2,2020-04-13,2020-04-22,2.0,2.0,60,2.0,1.0,2.0,...,2.0,1.0,2.0,1.0,2.0,2.0,2.0,1.5,1,2.0

### **Cột covid_res**

Giải thích các giá trị ở cột covid_res
1. positive: mắc bệnh
2. negative: chưa mắc bệnh
3. awaitinga: chờ kết quả

Để thuận tiện hơn ta sẽ thay 1, 2, 3 thành 1, 0, 2

In [9]:
data['covid_res'].replace([1,2,3],[1,0,2],inplace=True)
data['covid_res'].value_counts()

covid_res
1    143809
0    141732
2     40548
Name: count, dtype: int64

Vì chúng ta đang tập trung vào xem xét các yếu tố bị ảnh hưởng bởi corona, nên trọng tâm chính của chúng ta sẽ là mắc bệnh hoặc không mắc bệnh, do đó chúng ta sẽ bỏ qua chờ kết quả.

Bây giờ tôi sẽ xóa tất cả các hàng có giá trị là 2

In [10]:
data = data[data['covid_res']!=2]
data['covid_res'].value_counts()

covid_res
1    143809
0    141732
Name: count, dtype: int64

## **Lưu dataset đã xử lý thành file .csv**

In [11]:
data.to_csv('final_data.csv', encoding='utf-8', index=False, header=True)